<h1 class="page-title">
    <i class="fa fa-lock"></i>
    Login
</h1>

<div class="content-wrap">

	<form id="login">

	    <label>Token</label>
	    <input type="text" placeholder="Token or Email Address" name="token">

	    <button>Login</button>

	</form>

</div>