<div style="font: 12px normal Arial, Helvetica, sans-serif">
    <div style="background: #FFE9E9; border: 1px solid #BF1919; padding: 10px 20px; color: #BF1919; border-radius: 5px">
        <h1>Build / Deploy Failure</h1>
        <h3>The deployment of {{build}} has failed!</h3>
    </div>

	<div style="margin-top: 25px; padding: 10px 20px; border: 1px solid #ccc; border-radius: 5px;">
    	<h2><a href="{{log}}">View Build Log</a></h2>
    	<p style="color: #666;"><em>Use the email address at which you recieved this message as your token.</em></p>
    </div>

</div>